.newsItem {
    margin-bottom: 70px;
}
.newsItem .header {
    vertical-align: bottom;
}

.unityItem {
    margin-bottom: 70px;
}
.unityItem .header {
}

.unityCategoryItem {
    margin-bottom: 70px;
}
.unityCategoryItem .header {
}

.articleItem {
    margin-bottom: 70px;
}
.articleItem .header {
}
.chennelingItem {
    margin-bottom: 70px;
}
